.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    background-color:  #fff;
    width: 100%;
    border: 4px;
    padding-left: 8px;
    padding-right: 8px;         
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 966px;
    width: 100%;
}

.img-logo {
    cursor: pointer;
    width: 180px;
    height: 180px;
    margin: 0;
}

.header-right {
    display: flex;
}

.button-block {
    display: flex;
}

.button-signin {
    cursor: pointer;
}

.purchase {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.icon {
    width: 25px;
    height: 25px;
}
