

.wrapperProducts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products-block {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 966px;
  margin-bottom: 100px;
}

.h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  font-weight: 400;
}